[submodule "TheStephenAndroidLibrary"]
	path = TheStephenAndroidLibrary
	url = https://github.com/saltisgood/salt-android-library.git
[submodule "Game Lib"]
	path = "Game Lib"
	url = https://github.com/saltisgood/Game-Lib.git
